@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
}
/* Common Classes */
._fwfl {
    width: 100%;
    float: left;
}
._fl {
    float: left;
}
._lsn {
    list-style: none;
    padding: 0;
    margin: 0;
}
._m0 {
    margin: 0;
}
.long-score {
    width: 16px;
    float: left;
    margin-right: 2px;
    border-bottom: solid 1px;
    line-height: 18px;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
main {
    width: 1020px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    min-height: 1320px;
    float: left;
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.left {
    width: 38%;
    float: left;
    min-height: 1320px;
    background-color: #39464c;
    color: #fff;
}
.right {
    width: 62%;
    float: left;
    padding: 50px 40px;
    color: #000;
}
.avatar-name-job {
    padding: 50px 20px;
    background-color: #293236;
}
.avatar-name-job img {
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.avatar-name-job h1 {
    font-size: 27px;
}
.left-container {
    padding: 30px 20px;
}
.content-box {
    margin-bottom: 50px;
    color: #eee;
}
.content-box:last-child {
    margin-bottom: 0;
}
.content-box .title {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 300;
}
.content-box .title b {
    width: 36px;
    height: 36px;
    float: left;
    background-color: #293236;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 15px;
    text-align: center;
}
.content-box .title i {
    width: 14px;
    height: 15px;
    float: left;
    padding: 10px 0 0 12px;
}
.content-box .title span {
    float: left;
    margin-left: 10px;
    padding: 5px 0px;
    letter-spacing: 2px;
}
.content-box .content {
    padding-left: 46px;
    font-size: 16px;
    line-height: 24px;
}
.content-box .content.about-me {
    font-size: 14px;
}
.right .content-box {
    color: #293236;
}
.right .content-box .title i {
    color: #fff;
    padding: 10.5px 0 0 11px;
}
.contact-list li {
    width: 100%;
    float: left;
    padding-bottom: 7px;
}
.skill-list li {
    margin-bottom: 20px;
}
.skill-list li:last-child {
    margin-bottom: 0;
}
.skill-list li, 
.skill-list li span {
    width: 100%;
    float: left;
}
.skill-list li .skill-rate {
    position: relative;
    height: 6px;
    margin-top: 4px;
    background-color: #293236;
}
.skill-list li b {
    position: absolute;
    height: 6px;
    background-color: #eee;
}
.skill-list li .rate-1 {width: 20%;}
.skill-list li .rate-2 {width: 40%;}
.skill-list li .rate-3 {width: 60%;}
.skill-list li .rate-4 {width: 80%;}
.skill-list li .rate-5 {width: 100%;}
.history-row {
    margin-bottom: 50px;
}
.history-row:last-child {
    margin-bottom: 0;
}
.history-header {
    margin-bottom: 17px;
}
.history-header h3 {
    width: 100%;
    float: left;
    margin: 0 0 3px 0;
    font-size: 20px;
}
.history-header h5 {
    width: 100%;
    float: left;
}
.history-header h5 span {
    margin: 0 15px 0 0;
    color: #555;
}
.history-header h5 span:last-child {
    margin-right: 0;
}
.contact-mobile {
    display: none;
}
@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        float: left;
        margin: 0;
    }
    .wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 768px) {
    .left {
        width: 100%;
        min-height: auto;
        background-color: #fff;
    }
    .right {
        width: 100%;
        padding: 50px 20px;
        padding-bottom: 30px;
    }
    .avatar-name-job {
        background-color: #fff;
        color: #293236;
    }
    .left-container {
        padding-bottom: 0;
    }
    .content-box {
        color: #293236;
    }
    .content-box .title i {
        color: #eee;
    }
    .skill-list li .skill-rate {
        background-color: #ccc;
    }
    .skill-list li b {
        background-color: #293236;
    }
    .contact-mobile {
        display: block;
    }
    .contact-desktop {
        display: none;
    }
    .content-skill {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 680px) {
    .avatar-name-job {
        padding: 30px 15px;
    }
    .left-container {
        padding: 30px 15px;
        padding-bottom: 0;
    }
    .content-box .title {
        font-size: 21px;
    }
    .content-box .title b {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }
    .right .content-box .title i {
        padding: 10.5px 0 0 10px;
    }
    .content-box .title i {
        padding: 10px 0 0 11px;
    }
    .content-box .title span {
        margin-left: 8px;
    }
    .content-box .content {
        padding-left: 40px;
    }
    .skill-list li .skill-rate, .skill-list li b {
        height: 7px;
    }
    .history-row {
        margin-bottom: 40px;
    }
    .history-header h3 {
        font-size: 18px;
    }   
}
@media screen and (max-width: 480px) { 
    .avatar-name-job {
        border-bottom: double 3px #ccc;
    }
    .avatar-name-job img {
        width: 100px;
        height: 100px;
    }
    .avatar-name-job h1 {
        font-size: 32px;
    }
    .avatar-name-job h4 {
        color: #111;
    }
    .content-box .title b {
        display: none;
    }
    .content-box .title span {
        margin-left: 0;
    }
    .content-box .content {
        padding-left: 0;
    }
}

