@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
}
/* Common Classes */
._fwfl {
    width: 100%;
    float: left;
}
._fl {
    float: left;
}
._lsn {
    list-style: none;
    padding: 0;
    margin: 0;
}
._m0 {
    margin: 0;
}
.long-score {
    width: 16px;
    float: left;
    margin-right: 2px;
    border-bottom: solid 1px;
    line-height: 15px;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    font-family: 'Roboto Mono', monospace;
    color: #333;
    font-size: 16px;
    line-height: 25px;
}
ul li {
    width: 100%;
    float: left;
}
main {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}
.wrapper {
    width: 100%;
    min-height: 1320px;
    float: left;
    padding: 80px;
    padding-left: 40px;
    margin-bottom: 40px;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
section {
    width: 100%;
    float: left;
    padding-bottom: 70px;
    position: relative;
}
section:before {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 15%;
    background: #ccc;
    content: '';
}
section:last-child {
    padding-bottom: 0;
}
section:last-child:before {
    content: none;
}
section>.left {
    position: relative;
    width: 30%;
    float: left;
    text-align: center;
}
section>.right {
    width: 70%;
    float: left;
}
.avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.full-name {
    margin: 18px 0 10px;
    font-size: 32px;
    letter-spacing: 0.05pc;
}
.job {
    margin: 0;
}
.contact-list {
    margin-top: 50px;
}
.contact-list li {
    margin-bottom: 14px;
}
.contact-list li:last-child {
    margin-bottom: 0;
}
.contact-list li i {
    width: 32px;
    height: 32px;
    float: left;
    border: solid 1px #999;
    border-radius: 50%;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #555;
}
.contact-list li span {
    width: 85%;
    float: left;
    margin-left: 30px;
    line-height: 32px;
}
.left>h3.title {
    width: 100%;
    float: left;
    padding: 20px 0;
    margin: 0;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05pc;
    font-size: 22px;
}
.right .content {
    padding-top: 20px;
}
.history-list li {
    margin-bottom: 40px;
} 
.history-list li:last-child {
    margin-bottom: 0;
} 
.history-list li h4, 
.history-list li span,
.history-list li div {
    width: 100%;
    float: left;
    margin: 0 0 10px;
}
.history-list li h4 {
    margin-top: 3px;
}
.history-list li div {
    margin-bottom: 0;
}
.history-list li span b {
    width: 50%;
    float: left;
}
.history-list li span i {
    width: 50%;
    float: left;
    text-align: right;
}
.skill-list {
    margin-top: 10px;
}
.skill-list li {
    margin-bottom: 25px;
}
.skill-list li:last-child {
    margin-bottom: 0;
}
.skill-list h4 {
    width: 100%;
    float: left;
    margin: 0;
    color: #777;
}
.skill-list b {
    position: relative;
    width: 100%;
    height: 3px;
    float: left;
    margin-bottom: 7px;
    background-color: #ccc;
}
.skill-list b i {
    position: absolute;
    height: 3px;
    background-color: #777;
}
.skill-list b i.rate-1 {width: 20%;}
.skill-list b i.rate-2 {width: 40%;}
.skill-list b i.rate-3 {width: 60%;}
.skill-list b i.rate-4 {width: 80%;}
.skill-list b i.rate-5 {width: 100%;}
@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        float: left;
        margin: 0;
    }
    .wrapper {
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 40px 30px 30px 5px;
    }
    .avatar {
        width: 90px;
        height: 90px;
    }
    .full-name {
        margin: 18px 0 10px;
        font-size: 28px;
        letter-spacing: 0.05pc;
    }
    .job {
        margin: 0;
    }
    .left>h3.title {
        font-size: 20px;
    }
}
@media screen and (max-width: 680px) {
    .wrapper {
        padding: 30px 20px 30px;
    }
    section:before {
        content: none;
    }
    section:first-child>.left {
        border-top: none;
    }
    section>.left {
        width: 100%;
        text-align: left;
        border-top: solid 1px #aaa;
    }
    section>.right {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .contact-list li span {
        margin-left: 15px;
    }
    .history-list li span b {
        width: 100%;
    }
    .history-list li span i {
        width: 100%;
        text-align: left;
    }
}