@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
}
/* Common Classes */
._fwfl {
    width: 100%;
    float: left;
}
._fl {
    float: left;
}
._lsn {
    list-style: none;
    padding: 0;
    margin: 0;
}
._m0 {
    margin: 0;
}
.long-score {
    width: 16px;
    float: left;
    margin-right: 2px;
    border-bottom: solid 1px;
    line-height: 19px;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    font-family: 'Roboto Mono', monospace;
    color: #333;
}
main {
    width: 1020px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    min-height: 1320px;
    float: left;
    padding: 80px 100px;
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
header {
    width: 100%;
    height: 90px;
    float: left;
}
header .left, header .right {
    width: 50%;
    float: left;
}
header .right {
    padding-top: 15px;
}
header .avatar {
    width: 30%;
    float: left;
}
header .name {
    width: 70%;
    float: left;
    margin-top: 15px;
}
header img {
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 50%;
}
header h1 {
    width: 100%;
    float: left;
    margin: 0;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
header .right span {
    width: 100%;
    float: left;
    text-align: right;
}
.resume {
    margin-top: 70px;
    padding-left: 14.93%;
}
.resume h1 {
    width: 100%;
    float: left;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}
.resume .resume-content {
    margin-top: 30px;
    font-size: 17px;
    line-height: 26px;
}
.body {
    margin-top: 70px;
}
.body .left {
    width: 60%;
    float: left;
    padding-right: 20px;
}
.body .right {
    width: 40%;
    float: left;
    padding-left: 20px;
}
.content-box {
    width: 100%;
    float: left;
    border-top: solid 2px #222;
    margin-bottom: 50px;
}
.content-box:last-child {
    margin-bottom: 0;
}
.content-box .title {
    width: 100%;
    float: left;
    margin: 10px 0 0;
    letter-spacing: 2px;
}
.content-box .content {
    width: 100%;
    float: left;
    margin-top: 30px;
    font-size: 16px;
    line-height: 25px;
}
.history-row {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.history-row:last-child {
    margin-bottom: 0;
}
.history-row b {
    width: 100%;
    float: left;
    color: #666;
}
.history-row h4 {
    width: 100%;
    float: left;
    margin: 8px 0 0;
}
.history-row h4 span {
    font-size: 17px;
    color: #333;
}
.history-row div {
    width: 100%;
    float: left;
    margin-top: 12px;
}
.skill-row {
    width: 100%;
    float: left;
    margin-bottom: 22px;
}
.skill-row:last-child {
    margin-bottom: 0;
}
.skill-row h5 {
    width: 100%;
    float: left;
    margin: 0;
    font-size: 17px;
}
.skill-row span {
    position: relative;
    width: 100%;
    height: 4px;
    float: left;
    margin-bottom: 7px;
    background-color: #aaa;
}
.skill-row b {
    position: absolute;
    height: 4px;
    background-color: #222;
}
.skill-row b.rate-1 {width: 20%;}
.skill-row b.rate-2 {width: 40%;}
.skill-row b.rate-3 {width: 60%;}
.skill-row b.rate-4 {width: 80%;}
.skill-row b.rate-5 {width: 100%;}
@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        float: left;
        margin: 0;
    }
    .wrapper {
        margin: 0;
    }
}
@media screen and (max-width: 820px) {
    .wrapper {
        padding: 60px;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 50px 20px 20px;
    }
    header .name {
        margin-top: 17px;
    }
    header h1 {
        font-size: 22px;
        line-height: 28px;
    }
    .resume {
        margin-top: 60px;
        padding-left: 0;
    }
    .resume h1 {
        font-size: 26px;
    }
    .resume .resume-content {
        margin-top: 20px;
    }
    .body {
        margin-top: 60px;
    }
}
@media screen and (max-width: 680px) {
    header .left {
        width: 60%;
    }
    header .right {
        width: 40%;
    }
    .resume h1 {
        font-size: 24px;
    }
    .resume .resume-content {
        font-size: 16px;
    }
    .body .left {
        width: 100%;
        padding-right: 0;
    }
    .body .right {
        width: 100%;
        padding-left: 0;
        margin-top: 50px;
    }
}
@media screen and (max-width: 480px) { 
    .wrapper {
        padding: 20px;
    }
    header {
        height: auto;
    }
    header .left, header .right {
        width: 100%;
    }
    header .right {
        padding-top: 10px;
    }
    header .avatar {
        width: 100%;
    }
    header .name {
        width: 100%;
    }
    header h1 {
        width: auto;
    }
    header h1:last-child {
        margin-left: 16px;
    }
    header .right span {
        text-align: left;
        margin-top: 2px;
    }
    .resume {
        margin-top: 50px;
        border-top: solid 2px #222;
    }
    .resume h1 {
        font-size: 18px;
        margin-top: 10px;
    }
    .body {
        margin-top: 50px;
    }
}
@media screen and (max-width: 320px) {
    
}
