.auth-box {
    max-width: 420px;
    margin: 0 auto;
}
.login-box {
    height: 430px;
    margin-top: 55px;
}
.register-box {
    height: 480px;
    margin-top: 55px;
}
.auth-form-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
}
.auth-field-group {
    margin-bottom: 15px;
}
.first-field-group {
    margin-top: 20px;
}
.auth-field-group>label {
    height:18px;
}
.auth-field {
    height: 38px;
    line-height: 34px;
    vertical-align: middle;
    padding: 0 15px;
    color: #555;
    border: solid 2px #f4f4f4;
    background-color: #f4f4f4;
}
.auth-field:focus {
    border-color: #007aff;
}
.signup-btn {
    margin-top: 13px;
}
.auth-btn {
    height: 38px;
}
.auth-field.error {
    border-color: #f66;
}
.login-remember-chbox .custom-control-indicator {
    width: 15px;
    height: 15px;
    border-radius: 2px;
}
.login-remember-chbox .custom-control-description {
    font-size: 14px;
    color: #555;
    line-height: 24px;
}
.socialite-auth {
    border-bottom: solid 1px #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}
.socialite-auth button {
    width: 49%;
    float: left;
    margin-right: 2%;
    padding-top: 9px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}
.socialite-auth button:hover,
.socialite-auth button:focus{
    color: #fff;
}
.socialite-auth button:hover,
.socialite-auth button:focus{
    color: #fff;
}
.socialite-auth button:nth-child(2) {
    width: 49%;
    margin-right: 0;
}
.socialite-auth .btn-fb {
    background-color: #5776a8;
}
.socialite-auth .btn-google {
    background-color: #db4437;
}
.socialite-auth .auth-or {
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: -12px;
    background-color: #fff;
    padding: 0 10px;
    color: #777;
}
.verify-header {
    position: relative;
    height: 120px;
    margin-bottom: 30px;
}
.verify-header i.fa {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 50%;
    margin-left: -60px;
    background-color: #f3f3f3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 40px;
    color: #777;
    text-align: center;
    line-height: 120px;
}
.verify-header b {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 35px;
    left: 50%;
    margin-left: 8px;
    background-color: #f55;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}
@media screen and (max-width: 768px) {
    .auth-box {
        margin-top: 20%;
    }
}
@media screen and (max-width: 480px) {
    .auth-box {
        margin-top: 15%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .socialite-auth button {
        padding: 6px 10px;
    }
}
@media screen and (max-width: 360px) {
    .socialite-auth button {
        width: 100% !important;
        margin-right: 0;
        font-size: 13px;
    }
    .socialite-auth button:nth-child(1) {
        margin-bottom: 5px;
    }
    .auth-box {
        margin-top: 10%;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}
    