.magic-show {
    background-color: #f4f4f4;
}
.home-hero.enrique {
    background:#06ebab;
    color:#4d373a;
}
.enrique-inside {
    position: relative;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 7vh 2rem;
    text-align: left;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    z-index: 2;
    order: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 0;
    -ms-flex-align: center;
    -ms-flex-pack: start;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.enrique-copy {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    width: 55%;
}
.enrique-copy h1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 45px;
}
.enrique-copy p {
}
.enrique-img {
    height: auto;
    flex-basis: 45%;
    width: 45%;
    padding: 0;
    -ms-flex-preferred-size: 45%;
}
.themes-wrapper {
    background-color: #eff5f7;
}
.themes-inside {
    padding: 30px 30px 40px 30px;
}
@media screen and (max-width: 768px) {
    .enrique-inside {
        flex-direction: column;
    }
    .enrique-copy {
        flex-basis: 100%;
        width: 100%;
    }
    .enrique-img {
        -ms-flex-preferred-size: 80%;
        flex-basis: 100%;
        width: 100%;
        height: auto;
        -ms-flex-order: -1;
        order: -1;
    }
}
@media screen and (max-width: 480px) {
    .page-header {
        padding-bottom: 60%;
    }
    .page-header .constraint h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
}