.page-hero.enrique {
    background:#06ebab;
    color:#4d373a;
}
.enrique-inside {
    position: relative;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 7vh 2rem;
    text-align: left;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    z-index: 2;
    order: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 0;
    -ms-flex-align: center;
    -ms-flex-pack: start;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.enrique-copy {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    width: 55%;
}
.enrique-copy h1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 45px;
}
.enrique-img {
    height: auto;
    flex-basis: 45%;
    width: 45%;
    padding: 0;
    -ms-flex-preferred-size: 45%;
}
.page-inside {
    max-width: 800px;
    margin: 40px auto;
}

.contact-page.enrique .enrique-copy {
    position: relative;
    background-color: #adf3e0;
    border-radius: 80px;
    padding: 30px 40px;
}

.contact-page.enrique .enrique-copy:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 66px;
    margin-right: -15px;
    border: solid 15px transparent;
    border-right: 0;
    border-left: solid 17px #adf3e0;
}