body {
    background-color: #fff;
    font-size: 15px;
}
main {
    margin: 0 auto;
}
.wrapper {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    margin-bottom: 0;
}